{{ partial "header.html" . }}
    <!-- ******PROMO****** -->
    {{range where .Site.Pages "Type" "=" "promo"}} 
    {{ .Render "promo"}}
    {{ end }} 
    
    <!-- ******ABOUT****** --> 
    {{range where .Site.Pages "Type" "=" "about"}} 
    {{ .Render "about"}}
    {{ end }} 
    
    <!-- ******FEATURES****** --> 
    {{range where .Site.Pages "Type" "=" "features"}} 
    {{ .Render "features"}}
    {{ end }} 

    <!-- ******DOCS****** --> 
    {{range where .Site.Pages "Type" "=" "docs"}} 
    {{ .Render "docs"}}
    {{ end }} 
    
    <!-- ******CONTACT****** --> 

    {{range where .Site.Pages "Type" "=" "contact"}} 
    {{ .Render "contact"}}
    {{ end }} 
      
{{ partial "footer.html" . }}
